---
Language:        Cpp
BasedOnStyle:    LLVM

# Indentation
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# Line breaking
ColumnLimit:     120
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: Inline

#  Spaces    
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

# Miscellaneous 
PointerAlignment: Left
ContinuationIndentWidth: 4
CommentPragmas:  '^ IWYU pragma:'
KeepEmptyLinesAtTheStartOfBlocks: false

# Sorting includes
IncludeBlocks: Preserve

---
