.sidebar {
    position: fixed;
    top: 0;
    right: -200px;
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 2000;
}

.sidebar.open {
    right: 0;
}

.sidebar.closed {
    right: -200px;
}

.sidebar-toggle-button {
    position: absolute;
    top: 20px;
    left: 10px;
}

.sidebar-controls {
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 10px; /* Ajoutez du padding autour des boutons */
    margin-top: 20px; /* Espace au-dessus du groupe de boutons */
}

/* Styles pour le groupe de boutons */
.bp3-button-group {
    display: flex;
    justify-content: center;
}

/* Personnalisation des boutons pour les rendre plus grands et colorés */
.bp3-button {
    margin: 0 10px;
    color: white; /* Couleur du texte */
    font-size: 20px; /* Taille du texte */
    width: 60px; /* Largeur du bouton */
    height: 60px; /* Hauteur du bouton */
}

/* Couleurs spécifiques pour chaque bouton */
.bp3-button-play {
    background-color: #0f9960; /* Vert */
}

.bp3-button-pause {
    background-color: #d9822b; /* Orange */
}

.bp3-button-stop {
    background-color: #db3737; /* Rouge */
}

/* Augmentation de la taille des icônes */
.bp3-icon {
    width: 30px;
    height: 30px;
}
