#toolbar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    float: left;
}

#gameCanvas {
    margin-left: 210px;  /* Un peu plus large que la barre d'outils pour éviter tout chevauchement */
}
